babel==2.16.0
cffi==1.17.1
contourpy==1.3.1
cryptography==43.0.1
CTkMenuBar==0.8
CTkMessagebox==2.7
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.55.0
getmac==0.9.5
inspect-py==0.1.4
kiwisolver==1.4.7
langdetect==1.0.9
Levenshtein==0.25.1
llvmlite==0.43.0
matplotlib==3.9.2
mpi4py==4.0.1
numba==0.60.0
numpy==2.0.2
os-toolkit==0.1.2
packaging==24.1
pandas==2.2.2
pillow==10.4.0
playsound==1.3.0
py-string-tool==0.1.4
PyAudio==0.2.14
pycparser==2.22
pyparsing==3.2.0
pyserial==3.5
pysound==0.2
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
python_wizard==0.1.5
pytz==2024.1
rapidfuzz==3.9.7
SCons==4.7.0
setuptools==74.1.2
six==1.16.0
thefuzz==0.22.1
tkcalendar==1.6.1
tzdata==2024.1
Wave==0.0.2
wheel==0.44.0