name: Build Mouser Windows Executable

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build-windows:
    uses: ./.github/workflows/build-reusable.yml
    secrets: inherit
    with: {}
